html,
body{
    background: var(--default);
    
}
:root{
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}
h1{
    margin: auto;
    padding-top: 5%;
    text-align: center;
    color: white;
    display: grid;
    font-family: Suisse bp int\'l,sans-serif;
    
}
#game{
    display:grid;
    place-items:center;
    width: 100%;
    height: 600px;
}
.grid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5,auto);
}
.box{
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform:uppercase;
    display: grid;
    place-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Suisse bp int\'l,sans-serif;
    font-size: 2.4rem;
}
#key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    place-items:center;
    position: relative;
}

#key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
    font-family: Suisse bp int\'l,sans-serif;
   

}

#key-container button:nth-child(11) {
    margin-left: 30px;
}

#key-container button:nth-child(20),
#key-container button:nth-child(28) {
    width: 68px;
}
#key-container button.empty{
    background: var(--empty)
}
#key-container button#wrong{
    background: var(--wrong)
}
#key-container button.right{
    background: var(--right)
}
.box.empty{
    background: var(--empty)
}
.box.wrong{
    background: var(--wrong)
}
.box.right{
    background: var(--right)
}
.animated{
    animation: flip 0.5s ease;
}
@keyframes flip {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
    
}
